header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3em 3em auto 3em;
  height: 1.5625rem;
  padding: 0 2rem;
  color: #fff;

  .left-elements {
    display: flex;
    align-items: center;
    margin-right: 2rem; /* Adjust the gap between the logo and centered elements */
  }

  #logo {
    font-family: "Chronicle Display";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02rem;
    text-transform: capitalize;
  }

  .center-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0 2rem;
  }

  .center-elements a {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    font-family: Gilroy-Regular;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
  }

  .center-elements a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fbd784;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
  }

  .center-elements a:hover {
    transform: scale(1.3);
    opacity: 1;
    text-decoration: none;
    color: #fff;
  }

  .center-elements:hover a:not(:hover) {
    filter: blur(5px); /* Add blur effect on other elements when hovering over .center-elements */
  }

  .center-elements a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
  }

  .right-elements {
    display: flex;
    align-items: center;
  }

  #account {
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    font-style: normal;
    line-height: normal;
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 300;

    .account-svg {
      position: relative;
      top: 0.4rem;
    }

    &:hover {
      color: rgb(172, 172, 172);
      transition: 0.7s;
    }
  }

  @media only screen and (max-width: 1024px) {
    .center-elements {
      display: none; /* Hide the centered elements on smaller screens */
    }
  }
}
