.App {
  text-align: center;
}

.App {
  position: relative;
}

.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.all-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 12.5rem;
  margin: auto 14rem 7.5rem 14rem;
}
